@font-face {
	font-family: "Gilroy-Bold";
	src: url("../fonts/Gilroy-Bold.woff") format("woff"),
		url("../fonts/Gilroy-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "Gilroy-Medium";
	src: url("../fonts/Gilroy-Medium.woff") format("woff"),
		url("../fonts/Gilroy-Medium.woff2") format("woff2");
}
