.about
  background-color: #F6F6F6
  padding: 120px 460px
  &__title
    font-family: $bold
    font-size: 34px
    line-height: 42px
    text-align: center
  &__subtitle
    display: flex
    flex-direction: column
    min-height: 220px
    &-text
      font-family: $medium
      text-align: center
      font-size: 18px
      line-height: 22px
