.portfolio
  padding: 50px 0 100px 0
  background-color: #F6F6F6
  &-content
    display: flex
    justify-content: space-between
    padding-top: 50px
    flex-wrap: wrap
    min-height: 650px
    align-content: space-between
  &__project
    max-width: 300px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    min-height: 290px
    position: relative
    padding: 20px
    border: 2px solid #F6F6F6
    transition: .4s ease-in-out
    &:hover
      cursor: pointer
      box-shadow: 0 3px 10px grey

    &__screen
      position: relative
      width: 100%
      object-fit: contain
      display: block
      min-height: 190px
    &__link
      display: block
      font-family: Gilroy-Medium
      font-size: 18px
      line-height: 22px
      text-align: center
      text-decoration-line: underline
      color: $black
      &:hover
        cursor: pointer
        color: #828282
.on-dev
  .portfolio__project-wrapper
    &::after
      content: 'in development'
      position: absolute
      right: 0
      top: 170px
      background-color: red
      color: white
      padding: 2px 4px
      font-family: $medium
      font-size: 10px
      z-index: 1
